{# Using:
{% from "base/macros.twig" import icon %}

{{ icon('like') }}
{{ icon('share', 'is-lg') }} #}

{# Icon #}
{% macro icon(name, classes=false, file) %}
  <svg class="e-icon is-{{ name }}{% if classes %} {{ classes }}{% endif %}" aria-hidden="true" focusable="false">
    <use xlink:href="/assets/img/icons/{{ file|default('sprite') }}.svg#icon-{{ name }}"></use>
  </svg>
{% endmacro %}

{# Button #}
{% macro button(label, iconName=false, classes=false, iconOnly=false, type='button', action=false) %}
  <button class="e-btn {{ classes|default('') }}" type="{{ type }}" {{ action ? 'data-action=' ~ action : '' }}>
    {% if iconName %}{{ _self.icon(iconName) }}{% endif %}
    <span {% if iconOnly %}class="visually-hidden"{% endif %}>{{ label }}</span>
  </button>
{% endmacro %}

{# Form item #}
{% macro form_item(label, name, type='text', labelClass=false, alert=false, inputmode=false, value=false, maxlength=false, pattern=false, required=false, placeholder=false) %}
  <label for="form-{{ name }}" class="{{ labelClass }}">{{ label }}</label>
  <input
    id="form-{{ name }}"
    name="{{ name }}"
    type="{{ type }}"
    {{ inputmode ? 'inputmode=' ~ inputmode : '' }}
    {{ value ? 'value=' ~ value : '' }}
    {{ maxlength ? 'maxlength=' ~ maxlength : '' }}
    {{ pattern ? 'pattern=' ~ pattern : '' }}
    {{ required ? 'required' : '' }}
    {{ placeholder ? 'placeholder=' ~ placeholder : '' }}
  >
  {% if alert %}
    <small role="alert">{{ alert }}</small>
  {% endif %}
{% endmacro %}

{# List view snippet #}
{% macro snippet(title, summary, img=false, link='#', id='') %}
  <article class="snippet" id="{{ id }}" itemscope itemtype="http://schema.org/Article">
    {{ img ? '<figure class="snippet__img"><img src="/assets/img/' ~ img ~ '" alt="' ~ title ~ '"></figure>' }}
    <div class="snippet__copy">
      <a href="{{ link }}">
        <h3 itemprop="headline">{{ title }}</h3>
      </a>
      <p itemprop="description">{{ summary }}</p>
    </div>
  </article>
{% endmacro %}
