{% extends "base/base.twig" %}
{% from "base/macros.twig" import icon %}

{% block config %}
  {{ parent() }}

  {% set page = {
    lang: 'ru',

    desc: site.desc.ru,
    body_classes: 'e-page is-home'
  } %}
{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/home.css?{{ timestamp }}">
{% endblock %}

{# MAIN CONTENT ------------------------------------------------------------- #}
{% block content %}

  {# HERO #}
  <header class="e-hero">
    <div class="e-container">
      <figure class="e-hero__image">
        <img src="/assets/img/pages/home/hero.png" srcset="/assets/img/pages/home/hero.png 1x, /assets/img/pages/home/hero@2x.png 2x" alt="Cryptoapi.ai">
      </figure>
      <div class="e-hero__copy">
        <h1>
          <strong>Торгуй ИИ</strong>
          всё получится</h1>
        <p>Аналитика. Автоматизация. Прогнозирование. CRYPTOAPI.AI — инновационная платформа для трейдеров и инвесторов, предоставляющая передовые API и интеллектуальный анализ криптовалютного рынка.</p>
        <div class="e-buttons">
          <a class="e-btn is-primary" href="#">Попробовать</a>
          <a class="e-btn" href="{{ page.lang }}/docs">Документация API</a>
        </div>
      </div>
    </div>
  </header>

  {# FEATURES #}
  <section class="e-section has-scroller-row is-features">
    <header class="e-section__header">
      <span class="e-eyebrow">Три продукта</span>
      <h2 class="e-section__title">Торговый агент, ИИ-консультант интеграции API</h2>
    </header>
    <div class="e-scroller-row" data-role="draggable-scroll">
      {% for feature in data_features %}
        {% include 'components/feature.twig' with {'feature': feature} only %}
      {% endfor %}
    </div>
  </section>

  {# TESTIMONIALS #}
  <section class="e-section has-scroller-row-reverse is-testimonials">
    <header class="e-section__header">
      <span class="e-eyebrow">Отзывы</span>
      <h2 class="e-section__title">Клиент всегда прав</h2>
    </header>
    <div class="e-scroller-row" data-role="draggable-scroll">
      {% for testimonial in data_testimonials %}
        {% include 'components/testimonial.twig' with {'testimonial': testimonial} only %}
      {% endfor %}
    </div>
  </section>

  {# FAQ #}
  <div class="e-container">
    <section class="e-section is-faq">
      <h2>Часто задаваемые вопросы</h2>
      <details class="e-accordion">
        <summary>
          Как работает искусственный интеллект для прогнозирования рыночных трендов?
          <span class="e-accordion__marker">
            {{ icon('sm-chevron-down', 'is-sm') }}
          </span>
        </summary>
        <div class="e-accordion__body">
          <p>ИИ анализирует исторические данные, графики цен, объемы торгов, рыночные индикаторы и новости, чтобы выявлять закономерности и предсказывать вероятные движения рынка. Используются алгоритмы машинного обучения, включая нейронные сети и модели временных рядов.</p>
        </div>
      </details>
      <details class="e-accordion">
        <summary>
          Какие данные используются для обучения модели и насколько они достоверны?
          <span class="e-accordion__marker">
            {{ icon('sm-chevron-down', 'is-sm') }}
          </span>
        </summary>
        <div class="e-accordion__body">
          <p>Мы используем данные с ведущих криптобирж, включая исторические котировки, торговые объемы и ликвидность. Также учитываются новости, социальные сети и макроэкономические показатели. Достоверность обеспечивается за счет обработки данных из проверенных источников и применения механизмов фильтрации шума.</p>
        </div>
      </details>
      <details class="e-accordion">
        <summary>
          Какие криптовалюты покрываются аналитической платформой?
          <span class="e-accordion__marker">
            {{ icon('sm-chevron-down', 'is-sm') }}
          </span>
        </summary>
        <div class="e-accordion__body">
          <p>Платформа анализирует основные криптовалюты, такие как Bitcoin (BTC), Ethereum (ETH) и другие популярные альткоины. Полный список доступных активов можно найти в разделе «Рынки».</p>
        </div>
      </details>
      <details class="e-accordion">
        <summary>
          Как часто обновляются сигналы и прогнозы?
          <span class="e-accordion__marker">
            {{ icon('sm-chevron-down', 'is-sm') }}
          </span>
        </summary>
        <div class="e-accordion__body">
          <p>Обновления происходят в режиме реального времени или с определенной периодичностью в зависимости от типа стратегии: краткосрочные сигналы — каждые 5 мин, среднесрочные и долгосрочные прогнозы — раз в день и раз в неделю.</p>
        </div>
      </details>
      <details class="e-accordion">
        <summary>
          Сколько стоит подписка на сервис?
          <span class="e-accordion__marker">
            {{ icon('sm-chevron-down', 'is-sm') }}
          </span>
        </summary>
        <div class="e-accordion__body">
          <p>Подписка на наш сервис стоит 29$ в месяц при ежемесячной оплате или 299$ в год (что позволяет сэкономить 15% при ежегодной подписке).</p>
        </div>
      </details>
      <details class="e-accordion">
        <summary>
          Как отменить подписку?
          <span class="e-accordion__marker">
            {{ icon('sm-chevron-down', 'is-sm') }}
          </span>
        </summary>
        <div class="e-accordion__body">
          <p>Вы можете отменить подписку в настройках аккаунта. Если у вас возникли сложности, обратитесь в службу поддержки. Подписка действует до конца оплаченного периода.</p>
        </div>
      </details>
    </section>
  </div>

  {# CTA #}
  <section class="e-section e-cta">
    <h2>Торгуйте криптовалютой с точностью искусственного интеллекта</h2>
    <p>Получите точные торговые сигналы на основе ИИ и опережайте рынок криптовалют.</p>
    <a class="e-btn is-primary" href="#">Попробовать</a>
  </section>


{% endblock %}
