{% block config %}
  {% if site is not defined %}
    {% set site = {
      "assets_prefix": "",
      "assets_version": "now"|date("U"),
      "domain": "cryptoapi.ai",
      "desc": "Unlock the power of advanced APIs designed for crypto traders and analysts. Access real-time market insights, trading signals, custom indices, and automated tools to boost your trading performance.",
      "fonts_google": "Inter:wght@300;400;600",
      "header_stats": {
        "btc_price": 117245.99,
        "btc_diff": -0.9,
        "all_diff": 0.18,
        "level": "low",
        "fgi": 67
      },
      "languages": ["en", "ru"],
      "title": "CryptoAPI.ai – Advanced APIs for Crypto Traders and Market Analytics"
    } %}
  {% endif %}

  {% if page is not defined %}
    {% set page = {
      "lang": "ru"
    } %}
  {% endif %}

  {% if user is not defined %}
    {% set user = {
      "id": 1,
      "balance": '$10000'
    } %}
  {% endif %}
{% endblock %}

<!doctype html>
<html lang="{{ page.lang }}" dir="{{ page.dir|default('ltr') }}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>{{ page.title|default(site.title)|trans }}</title>
  <meta name="description" content="{{ page.desc|default(site.desc)|trans }}">

  <meta property="og:title" content="{{ page.title|default(site.title)|trans }}">
  <meta property="og:description" content="{{ page.desc|default(site.desc)|trans }}">
  <meta property="og:type" content="{{ page.type }}">
  <meta property="og:url" content="https://{{ site.domain }}{% if not page.index or page.lang != 'ru' %}/{{ page.lang }}/{{ page.slug }}{% else %}/{% endif %}">

  {% set cover_default = 'cover' ~ (page.lang == 'ru' ? '-ru' : '') ~ '.jpg' %}
  <meta property="og:image" content="{{ page.image|default('https://' ~ site.domain ~ site.assets_prefix ~ '/assets/img/' ~ cover_default) }}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="canonical" href="https://{{ site.domain }}{% if not page.index or page.lang != 'ru' %}/{{ page.lang }}/{{ page.slug }}{% else %}/{% endif %}">

  {% for lang in site.languages %}
    <link rel="alternate" hreflang="{{ lang }}" href="https://{{ site.domain }}{% if not page.index or lang != 'ru' %}/{{ lang }}/{{ page.slug }}{% else %}/{% endif %}">
  {% endfor %}
  <link rel="alternate" hreflang="x-default" href="https://{{ site.domain }}/en{% if not page.index %}/{{ page.slug }}{% endif %}">

  {% if ENV == 'production' %}
    <base href="https://{{ site.domain }}">
  {% endif %}
  <link rel="icon" href="{{ site.assets_prefix }}/favicon.ico" sizes="32x32">
  <link rel="icon" href="{{ site.assets_prefix }}/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ site.assets_prefix }}/assets/img/icons/icon-192.png">
  <link rel="manifest" href="{{ site.assets_prefix }}/manifest.json">

  <meta name="user-id" content="{{ user.id }}">

  <script>
    window.APP_CONFIG = window.APP_CONFIG || {};
    window.APP_CONFIG.assetsBasePrefix = "{{ site.assets_prefix|escape('js') }}";
  </script>
  {% block assets %}
  <script src="{{ site.assets_prefix }}/assets/js/main.js?v={{ site.assets_version|default(1) }}" type="module"></script>
  {% if page.legacy_js %}{{ page.legacy_js }}{% endif %}
  {% endblock %}

  {% set schema_type =
    page.schema_type|default(
      page.index ? 'WebSite' : (page.slug starts with 'quote-' ? 'Product' : 'WebPage')
  ) %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{{ schema_type }}",
    "name": "{{ page.title|default('CryptoAPI.ai') }}",
    "url": "https://{{ site.domain }}{% if not page.index %}/{{ page.lang }}/{{ page.slug }}{% endif %}",
    {% if schema_type == 'WebSite' %}
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://{{ site.domain }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    {% elseif schema_type == 'WebPage' %}
      "description": "{{ page.desc|default(site.desc) }}",
      "inLanguage": "{{ page.lang }}"
    {% elseif schema_type == 'Product' %}
      "description": "{{ page.desc|default('Cryptocurrency asset')|trans }}",
      "brand": {
        "@type": "Brand",
        "name": "{{ page.asset_brand|default(page.title|trans) }}"
      },
      "offers": {
        "@type": "Offer",
        "priceCurrency": "{{ page.asset_currency|default('USD') }}",
        "price": "{{ page.asset_price|default('0.00') }}",
        "availability": "https://schema.org/InStock"
      }
    {% endif %}
  }
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@300;400;500">
  {% block css %}
  <link rel="stylesheet" href="{{ site.assets_prefix }}/assets/css/main.css?v={{ site.assets_version|default(1) }}">
  {% if page.styles %}
    <link rel="stylesheet" href="{{ site.assets_prefix }}/assets/css/{{ page.styles }}?v={{ site.assets_version|default(1) }}">
  {% endif %}
  {% endblock %}
{% endblock %}
</head>

{% set body_classes = 'e-page ' ~ (page.app ? 'is-app' : 'is-site') ~ ' ' ~ (user.id ? 'is-user' : 'is-guest') %}

{% if page.classes %}
  {% set body_classes = body_classes ~ ' ' ~ page.classes %}
{% elseif page.slug is defined and page.slug %}
  {% set body_classes = body_classes ~ ' is-' ~ page.slug %}
{% endif %}

<body class="{{ body_classes }}">

  {# NAVBAR ----------------------------------------------------------------- #}
  {% block navbar %}
    {% include "partials/navbar.twig" %}
  {% endblock %}

  {# CONTENT ---------------------------------------------------------------- #}
  {# Content Header (Search & Stats) #}
  {% if page.app %}
    {% include "partials/header.twig" %}
  {% endif %}

  <main class="e-main">
  {% block content %}
  {% endblock %}
  </main>

  {# FOOTER ----------------------------------------------------------------- #}
  {% block footer %}
    {% include "partials/footer.twig" %}
  {% endblock %}

  {% block body_suffix %}
    {% include "partials/body-suffix.twig" %}
  {% endblock %}
</body>
</html>
