{# <script src="{{ site.assets_prefix }}/assets/js/search.js?v={{ site.assets_version|default(1) }}"  type="module"></script> #}
{% if page.app %}
  <script src="{{ site.assets_prefix }}/assets/js/search.js?v={{ site.assets_version|default(1) }}"  type="module"></script>
  {% if ENV != 'development' %}
    <script src="{{ site.assets_prefix }}/assets/js/header-stats.js?v={{ site.assets_version|default(1) }}" defer></script>
  {% endif %}
{% endif %}

<!-- Toast box -->
<div class="e-toast" id="toast-container"></div>
