{# Don't treat the config as an include. Twig won't understand #}
{% block config %}
  {% if ExtraData is not defined %}
    {% set ExtraData = {
      "assets_prefix": "",
      "desc": {
        "en": "CryptoAPI.ai description", "ru": "CryptoAPI.ai description"
      },
      "fonts_google": "Inter:wght@300;400;600",
      "lang": "ru",
      "title": {
        "en": "CryptoAPI.ai - Cryptocurrency Trading with AI",
        "ru": "CryptoAPI.ai - Торговля криптовалютой с ИИ"
      },
      "title_short": {
        "en": "CryptoAPI.ai",
        "ru": "CryptoAPI.ai"
      },
      "url": "https://www.cryptoapi.ai"
    } %}
  {% endif %}
{% endblock %}

<!doctype html>
<html lang="{$lng_html}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>{$meta_title}</title>
  <meta name="description" content="{$meta_description}">

  <meta property="og:locale" content="{$lng_html}">
  <meta property="og:title" content="{$meta_title}">
  <meta property="og:description" content="{$meta_description}">
  {$ogtype}
  <meta property="og:image" content="{$meta_ogimage}">
  <meta property="og:url" content="{$thispageurl}">
  <meta property="og:site_name" content="{$meta_title}">
  <meta property="og:see_also" content="{$main_href}">
  <meta name="twitter:card" content="summary_large_image">

  {# {$canonical} #}
  {$schemaorg}

  <base href="{$base_href}">
  <link rel="icon" href="{{ ExtraData.assets_prefix }}/favicon.ico" sizes="32x32">
  <link rel="icon" href="{{ ExtraData.assets_prefix }}/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ ExtraData.assets_prefix }}/assets/img/icons/icon-192.png">
  <link rel="manifest" href="{{ ExtraData.assets_prefix }}/manifest.json">

  <script src="{{ ExtraData.assets_prefix }}/assets/js/main.js" type="module"></script>
  {$thispagejs}

  {% if ExtraData.fonts_google is defined %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family={{ ExtraData.fonts.google }}">
  {% endif %}
  <link rel="stylesheet" href="{{ ExtraData.assets_prefix }}/assets/css/main.css?{{ "now"|date('U') }}">
{% endblock %}
</head>

<body class="{{ ExtraData.body_classes }}">
  {# HEADER ----------------------------------------------------------------- #}
  {% block header %}
    {% include "partials/header.twig" %}
  {% endblock %}

  {# CONTENT ---------------------------------------------------------------- #}
  <main class="e-main">
  {% block content %}
  {% endblock %}
  </main>

  {# FOOTER ----------------------------------------------------------------- #}
  {% block footer %}
    {% include "partials/footer.twig" %}
  {% endblock %}

  {% block body_suffix %}
    {% include "partials/body-suffix.twig" %}
  {% endblock %}
</body>
</html>
