<a class="e-card is-link{{ feature.isFeatured ? ' is-featured' : '' }}" href="/{{ lang|default("en") }}/{{ feature.link }}">
  <figure class="e-card__spot-icon">
    {% include 'partials/icon.twig' with {name: feature.icon} %}
  </figure>
  <div class="e-card__base">
    <span class="e-eyebrow">{{ feature.eyebrow|trans }}</span>
    <h3 class="e-card__title">{{ feature.title|trans }}</h3>
    <p class="e-card__desc">{{ feature.description|trans }}</p>
  </div>
</a>
