<header class="e-header" id="header-app">
  <div class="e-container">

    {% if page.has_balance %}
      {% set balance_num = user.balance|replace({'$': '', ' ' : ''}) %}
      {% if balance_num < 50 %}
        {% set balance_icon = 'warning' %}
        {% set balance_tooltip = 'You don’t have enough funds to cover trading fees. Please top up your account.' %}
      {% else %}
        {% set balance_icon = 'wallet' %}
        {% set balance_tooltip = 'Deposit' %}
      {% endif %}

      <a class="e-balance" href="/{{ page.lang }}/finance">
        <span class="e-balance__icon is-{{ balance_icon }}">
          {% include 'partials/icon.twig' with {name: balance_icon} %}
        </span>

        <span class="e-balance__label">
          <b>$
            {% if page.lang == 'en' %}
              {{ user.balance|number_format(2, '.', ',') }}
            {% else %}
              {{ user.balance|number_format(2, ',', ' ') }}
            {% endif %}
          </b>
          <small>{{ 'account balance'|trans }}</small>
        </span>

        <span class="e-btn is-outline has-tooltip is-bottom" aria-label="{{ balance_tooltip|trans }}">
          {% include 'partials/icon.twig' with {name: 'add'} %}
        </span>
      </a>
    {% else %}
      <form class="e-header__search e-search" role="search">
        <label class="visually-hidden" for="header-search">{{ 'Search coins by name or symbol…'|trans }}</label>
        {% include 'partials/icon.twig' with {name: 'search'} %}
        {% if search_on_page %}
          <input type="search" id="header-search" autocomplete="off" placeholder="{{ 'Search coins by name or symbol…'|trans }}">
        {% else %}
          <input type="search" id="header-search" autocomplete="off" placeholder="{{ 'Search coins by name or symbol…'|trans }}">
        {% endif %}
      </form>
    {% endif %}

    <div class="e-header__stats">
      {% set stats = site.header_stats %}

      {# BTC #}
      {% set value = stats.btc_diff %}
      {% set class = value > 0 ? 'is-success' : (value < 0 ? 'is-error' : 'text-2ry') %}
      <div class="e-header__stat-item">
        BTC
        <b id="stat-btc-price">{{ stats.btc_price|number_format(2) }}</b>
        <span id="stat-btc-diff" class="e-header__stat-value {{ class }}">{{ value ~ '%' }}</span>
      </div>

      {# Market #}
      {% set value = stats.all_diff %}
      {% set level = stats.level %}
      {% set class = value > 0 ? 'is-success' : (value < 0 ? 'is-error' : 'text-2ry') %}
      <div class="e-header__stat-item">
        <div class="has-tooltip is-bottom" aria-label="{{ 'Market Cap Change'|trans }}">
          {{ 'Market:'|trans }}
        </div>
        <span id="stat-market-diff" class="e-header__stat-value {{ class }} has-tooltip is-bottom" aria-label="{{ 'Market Cap Change'|trans }}">{{ value ~ '%' }}</span>

        {% if level == 'low' %}
          {% set label = 'Low' %}
          {% set class = 'is-error' %}
        {% elseif level == 'middle' %}
          {% set label = 'Neutral' %}
          {% set class = 'is-neutral' %}
        {% else %}
          {% set label = 'High' %}
          {% set class = 'is-success' %}
        {% endif %}

        <div id="stat-market-indicator" class="e-header__indicator has-tooltip is-bottom {{ class }}" aria-label="{{ label|trans }}">
          {# {% include 'partials/icon.twig' with {name: 'hamburger', classes: class} %} #}
          <svg class="e-icon is-hamburger {{ class }}" aria-hidden="true" focusable="false">
            <line class="e-icon-hamburger__high" x1="19" y1="6" x2="5" y2="6" stroke="var(--icon-stroke)" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"></line>
            <line class="e-icon-hamburger__mid" x1="19" y1="12" x2="5" y2="12" stroke="var(--icon-stroke)" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"></line>
            <line class="e-icon-hamburger__low" x1="19" y1="18" x2="5" y2="18" stroke="var(--icon-stroke)" stroke-width="var(--icon-stroke-width)" stroke-linecap="round"></line>
          </svg>
        </div>
      </div>

      {# Fear and Greed Index #}
      {% set fgi = stats.fgi %}
      {% if fgi < 26 %}
        {% set label = 'Ext. Fear' %}
        {% set class = 'is-error' %}
      {% elseif fgi < 48 %}
        {% set label = 'Fear' %}
        {% set class = 'is-error' %}
      {% elseif fgi < 53 %}
        {% set label = 'Neutral' %}
        {% set class = '' %}
      {% elseif fgi < 75 %}
        {% set label = 'Greed' %}
        {% set class = 'is-success' %}
      {% else %}
        {% set label = 'Ext. Greed' %}
        {% set class = 'is-success' %}
      {% endif %}

      <div class="e-header__stat-item has-tooltip is-bottom" aria-label="{{ 'Fear and Greed Index'|trans }}">
        <span id="stat-fgi-value" class="e-header__stat-value {{ class }}">{{ fgi }} <span class="text-2ry">/ 100</span></span>
        <span id="stat-fgi-label">({{ label|trans }})</span>
      </div>
    </div>

    <button class="e-header__cancel e-btn is-ghost tablet:d-none" id="navbar-header-cancel" type="button">
      {{ 'Cancel'|trans }}
    </button>
  </div>
</header>

{# Мини-словарь для JS #}
<script id="i18n-dict" type="application/json">
{
  "EXT_FEAR"  : "{{ 'Ext. Fear'|trans|e('js') }}",
  "FEAR"      : "{{ 'Fear'|trans|e('js') }}",
  "NEUTRAL"   : "{{ 'Neutral'|trans|e('js') }}",
  "GREED"     : "{{ 'Greed'|trans|e('js') }}",
  "EXT_GREED" : "{{ 'Ext. Greed'|trans|e('js') }}"
}
</script>
