<header class="e-header" id="header-app">
  <div class="e-container">

    {% set default_search %}
      <form class="e-header__search" role="search">
        <label for="header-search" class="visually-hidden">{{ 'Search coins'|trans }}</label>
        {% include 'partials/icon.twig' with {name: 'search'} %}
        <input type="search" id="header-search" placeholder="{{ 'Search coins'|trans }}">
      </form>
    {% endset %}

    {{ search_content|default(default_search) }}

    <div class="e-header__stats">
      {# Market Cap #}
      {% set value = site.header_stats[0] %}
      {% set class = value > 0 ? 'is-success' : (value < 0 ? 'is-error' : 'text-2ry') %}
      <div class="e-header__stat-item has-tooltip is-bottom" aria-label="{{ 'Market Cap'|trans }}">
        {{ 'Cap.:'|trans }}
        <span class="e-header__stat-value {{ class }}">{{ value ~ '%' }}</span>
      </div>

      {# 24h Volume #}
      {% set value = site.header_stats[1] %}
      {% set class = value > 0 ? 'is-success' : (value < 0 ? 'is-error' : 'text-2ry') %}
      <div class="e-header__stat-item has-tooltip is-bottom" aria-label="{{ '24h Volume'|trans }}">
        {{ '24h Vol.:'|trans }}
        <span class="e-header__stat-value {{ class }}">{{ value ~ '%' }}</span>
      </div>

      {# Fear and Greed Index #}
      {% set fgi = site.fgi %}
      {% if fgi < 41 %}
        {% set label = 'Fear:' %}
        {% set class = 'is-error' %}
      {% elseif fgi < 61 %}
        {% set label = 'Neutral:' %}
        {% set class = '' %}
      {% else %}
        {% set label = 'Greed:' %}
        {% set class = 'is-success' %}
      {% endif %}

      <div class="e-header__stat-item has-tooltip is-bottom" aria-label="{{ 'Fear and Greed Index'|trans }}">
        {{ label|trans }}
        <span class="e-header__stat-value {{ class }}">{{ fgi }} <span class="text-2ry">/ 100</span></span>
      </div>
    </div>

    <button class="e-header__cancel e-btn is-ghost tablet:d-none" id="navbar-header-cancel" type="button">
      {{ 'Cancel'|trans }}
    </button>
  </div>
</header>
