{# Передаем объект site в параметр, чтобы инклюд иконки получил assets_prefix #}
{# {{ macros.modal('my-modal', '<p>Lorem ipsum dolor sit amet.</p>', site.assets_prefix) }} #}

{% macro modal(id, content, assets_prefix, classes) %}
<dialog class="e-modal{% if classes %} {{ classes }}{% endif %}" id="{{ id }}">
  <div class="e-modal__base">
    {{ content|raw }}
    <button class="e-btn is-close" type="button" data-role="close-modal" aria-label="{{ 'Close'|trans }}">
      {% include 'partials/icon.twig' with {name: 'sm-x-mark', classes: 'is-sm', assets_prefix: assets_prefix} %}
    </button>
  </div>
</dialog>
{% endmacro %}

{% macro format_price(price) %}
  {% if price >= 1 %}
    {{ price|number_format(2, ',', ' ') }}
  {% elseif price >= 0.01 %}
    {{ price|number_format(4, ',', ' ') }}
  {% elseif price >= 0.0001 %}
    {{ price|number_format(6, ',', ' ') }}
  {% else %}
    {{ price|number_format(8, ',', ' ') }}
  {% endif %}
{% endmacro %}

{% macro chart_menu(name, options, selected, title) %}
<details class="e-popover has-tooltip" data-role="popover" aria-label="{{ title|trans }}">
  <summary class="has-chevron">
    {{ selected|trans }}
  </summary>
  <ul class="e-popover__body e-menu">
    {% for opt in options %}
    <li class="e-menu__item">
      <label class="e-menu__action{% if opt.disabled %} is-disabled{% endif %}">
        {{ opt.label|trans }}
        <input
          type="radio"
          name="{{ name }}"
          value="{{ opt.value }}"
          data-shortcut="{{ opt.shortcut }}"
          {% if opt.checked %}checked{% endif %}
          {% if opt.disabled %}disabled{% endif %}
        >
      </label>
    </li>
    {% endfor %}
  </ul>
</details>
{% endmacro %}
