

<section class="e-section is-plans">
  <div class="e-container">
    <header class="e-section__header is-centered">
      <h1 class="e-section__title is-highlight mb-0">
        {% if user.id > 0 %}
          {{ 'Pricing'|trans }}
        {% else %}
          {{ 'Choose Your Plan'|trans }}
        {% endif %}
      </h1>
      {% if user.id == 0 %}
        <p>{{ 'Two CryptoAI products – AI Consultant and API Integrations – are available by subscription. However, you can start using them completely free.'|trans }}</p>
      {% else %}
        <details class="e-current-plan">
          <summary class="e-current-plan__summary" data-plan-summary>
            <span class="e-plan__icon">
              {% include 'partials/icon.twig' with {name: curr_plan.icon, assets_prefix: site.assets_prefix} %}
            </span>

            <span class="e-current-plan__title">
              <b>{{ 'Your plan:'|trans }} {{ curr_plan.title|trans }}</b>
              <small>{{ 'Valid until:'|trans }} {{ curr_plan.expires|date('d/m/Y') }}</small>
            </span>

            <button
              class="e-btn e-btn is-outline e-current-plan__toggle"
              type="button"
              aria-controls="plan-body"
              aria-expanded="false"
              data-plan-toggle
            >
              <span class="e-btn__label" data-open="{{ 'Benefits'|trans }}" data-close="{{ 'Close'|trans }}"></span>
            </button>
          </summary>

          <div class="e-current-plan__body" id="plan-body">
            <ul class="e-current-plan__list">
              <li><span>{{ 'Signal delay'|trans }}:</span> {{ curr_plan.signal_delay|trans }}</li>
              <li><span>{{ 'Integration with the exchange'|trans }}:</span> {{ curr_plan.binance_api|trans }}</li>
              <li><span>{{ 'Trading fee'|trans }}:</span> {{ curr_plan.fee }} ({{ 'but not less than $0.25'|trans }})</li>
              <li><span>{{ 'API Limitations'|trans }}:</span> {{ curr_plan.requests }} {{ 'requests per day'|trans }}</li>
              <li><span>{{ 'Trading strategy'|trans }}:</span> {{ curr_plan.strategy|trans }}</li>
              <li><span>{{ 'Support type:'|trans }}:</span> {{ curr_plan.support|trans }}</li>
            </ul>
          </div>
        </details>

        <h2 class="text-02">{{ 'All options'|trans }}</h2>
      {% endif %}

      <div class="e-section__controls d-none tablet:d-flex">
        <button class="btn has-tooltip" data-role="plans-scroller" data-target="start" aria-label="{{ 'To Start'|trans }}" disabled>
          {% include 'partials/icon.twig' with {name: 'sm-chevron-left'} %}
        </button>

        <div class="e-segmented-control">
          <label class="e-segmented-control__item" for="billing-monthly">
            <input id="billing-monthly" name="interval" type="radio">
            {{ 'Monthly Payment'|trans }}
          </label>
          <label class="e-segmented-control__item" for="billing-annual">
            <input id="billing-annual" name="interval" type="radio" checked>
            {{ 'Annual Payment (25% Discount)'|trans }}
          </label>
        </div>

        <button class="btn has-tooltip" data-role="plans-scroller" data-target="end" aria-label="{{ 'To End'|trans }}">
          {% include 'partials/icon.twig' with {name: 'sm-chevron-right'} %}
        </button>
      </div>
    </header>
  </div>

  <div class="e-section__scroller">
    <div class="e-plans">
      {% for plan in data_plans %}
        {% include 'partials/plan.twig' with {'plan': plan, 'site': site, 'curr_plan': curr_plan, 'user': user} only %}
      {% endfor %}
    </div>
  </div>
</section>

<script type="module">
  import initPlan from '{{ site.assets_prefix }}/assets/js/ui/current-plan.js';
  initPlan();
</script>
