<figure class="e-card e-testimonial{{ testimonial.isFeatured ? ' is-featured' : '' }}">
  <img class="e-avatar" src="{{ ExtraData.assets_prefix }}{{ testimonial.avatar }}" alt="{{ testimonial.author|trans }}">

  <blockquote class="e-testimonial__base">
    <p>{{ testimonial.quote|trans }}</p>
  </blockquote>

  <figcaption class="e-testimonial__author">
    <strong>{{ testimonial.author|trans }}</strong>
    {{ testimonial.company|trans }}
  </figcaption>
</figure>
