{# Don't treat the config as an include. Twig won't understand #}
{% block config %}
  {% if ExtraData is not defined %}
    {% set ExtraData = {
      "assets_prefix": "",
      "fonts_google": "Inter:wght@300;400;600",
      "lang": "ru",
      "user_id": 1
    } %}
  {% endif %}
{% endblock %}

<!doctype html>
<html lang="{$lng_html}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>{{ ExtraData.title ?? '{$blog_name}' ?? 'CryptoAPI.ai – Advanced APIs for Crypto Traders and Market Analytics' | trans }}</title>
  <meta name="description" content="{{ ExtraData.desc ?? '{$blog_description}' ?? 'Unlock the power of advanced APIs designed for crypto traders and analysts. Access real-time market insights, trading signals, custom indices, and automated tools to boost your trading performance.' | trans }}">

  <meta property="og:locale" content="{$lng_html}">
  <meta property="og:title" content="{{ ExtraData.title ?? '{$blog_name}' ?? 'CryptoAPI.ai – Advanced APIs for Crypto Traders and Market Analytics' | trans }}">
  <meta property="og:description" content="{{ ExtraData.desc ?? '{$blog_description}' ?? 'Unlock the power of advanced APIs designed for crypto traders and analysts. Access real-time market insights, trading signals, custom indices, and automated tools to boost your trading performance.' | trans }}">
  {$ogtype}
  <meta property="og:image" content="{$meta_ogimage}">
  <meta property="og:url" content="{$thispageurl}">
  <meta property="og:site_name" content="{$meta_title}">
  <meta property="og:see_also" content="{$main_href}">
  <meta name="twitter:card" content="summary_large_image">

  <meta name="user-id" content="{$user_id}">

  {# {$canonical} #}
  {$schemaorg}

  <base href="{$base_href}">
  <link rel="icon" href="{{ ExtraData.assets_prefix }}/favicon.ico" sizes="32x32">
  <link rel="icon" href="{{ ExtraData.assets_prefix }}/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ ExtraData.assets_prefix }}/assets/img/icons/icon-192.png">
  <link rel="manifest" href="{{ ExtraData.assets_prefix }}/manifest.json">

  {% block assets %}
  <script src="{{ ExtraData.assets_prefix }}/assets/js/main.js" type="module"></script>
  {$thispagejs}
  {% endblock %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@300;400;500">
  {% block css %}
  <link rel="stylesheet" href="{{ ExtraData.assets_prefix }}/assets/css/main.css?{{ "now"|date('U') }}">
  {% if ExtraData.page_styles %}
    <link rel="stylesheet" href="{{ ExtraData.assets_prefix }}/assets/css/{{ ExtraData.page_styles }}?{{ "now"|date('U') }}">
  {% endif %}
  {% endblock %}
{% endblock %}
</head>

{% set slug = "{$pageths}" %}
<body
  class="
  e-page is-{{ slug }}
  {% if ExtraData.app %} is-app{% else %} is-site{% endif %}
  {% if ExtraData.body_classes %} {{ ExtraData.body_classes }}{% endif %}
  "
>

  {# NAVBAR ----------------------------------------------------------------- #}
  {% block navbar %}
    {% include "partials/navbar.twig" %}
  {% endblock %}

  {# CONTENT ---------------------------------------------------------------- #}
  {# Content Header (Search & Stats) #}
  {% if ExtraData.app %}
    {% include "partials/header.twig" %}
  {% endif %}

  <main class="e-main">
  {% block content %}
  {% endblock %}
  </main>

  {# FOOTER ----------------------------------------------------------------- #}
  {% block footer %}
    {% include "partials/footer.twig" %}
  {% endblock %}

  {% block body_suffix %}
    {% include "partials/body-suffix.twig" %}
  {% endblock %}
</body>
</html>
