{% set data_menu = {
  "home": {
    "label": "Home",
    "href": "/",
    "icon": "home",
    "classes": "tablet:d-none"
  },
  "products": {
    "label": "Products",
    "href": "/products",
    "icon": "grid-4x4"
  },
  "markets": {
    "label": "Markets",
    "href": "/markets",
    "icon": "chart-line"
  },
  "more": {
    "label": "More",
    "icon": "more",
    "children": {
      "pricing": {
        "label": "Pricing",
        "href": "/pricing",
        "icon": "money"
      },
      "support": {
        "label": "Support",
        "href": "/support",
        "icon": "support"
      },
      "blog": {
        "label": "Blog",
        "href": "/blog",
        "icon": "news"
      }
    }
  }
} %}

<nav class="e-navbar">
  <div class="e-container">
    <a class="e-navbar__logo" href="/">
      <picture>
        <source media="(max-width: 767px)" srcset="{{ ExtraData.assets_prefix }}/assets/img/components/logo/cryptoapi-logo-mobile.svg" type="image/svg+xml">
        <source media="(max-width: 1023px)" srcset="{{ ExtraData.assets_prefix }}/assets/img/components/logo/cryptoapi-logo-tablet.svg" type="image/svg+xml">
        <img src="{{ ExtraData.assets_prefix }}/assets/img/components/logo/cryptoapi-logo-desktop.svg" alt="{{ 'CryptoAPI.ai Logo'|trans }}">
      </picture>
      <span class="e-navbar__tagline">
        <span class="tablet:d-none">{{ 'AI for Crypto Market'|trans }}</span>
        <span class="d-none tablet:d-inline tablet-l:d-none">{{ 'for trading'|trans }}</span>
        <span class="d-none tablet-l:d-inline">{{ 'AI Crypto Analytics and Signals'|trans }}</span>
      </span>
    </a>

    <ul class="e-navbar__menu">
      {% for key, item in data_menu %}
        {% if item.children is not defined %}
          <li class="e-navbar__menu-item is-{{ key }}{% if item.classes %} {{ item.classes }}{% endif %}">
            <a href="{% if key != 'home' %}{{ lng_html }}{% endif %}{{ item.href }}">
              {% include 'partials/icon.twig' with {name: item.icon} %}
              <span class="e-navbar__menu-label">
                {{ item.label|trans }}
              </span>
            </a>
          </li>
        {% else %}
          <li class="e-navbar__menu-item is-{{ key }}">
            <div class="e-popover" data-role="popover">
              <div data-role="popover-summary">
                {% include 'partials/icon.twig' with {name: item.icon} %}
                <span class="e-navbar__menu-label" id="navbar-more-title">
                  {{ item.label|trans }}
                </span>
              </div>
              <ul class="e-popover__body e-menu" aria-labelledby="navbar-more-title">
                {% for sub_key, sub_item in item.children %}
                  <li class="e-menu__item is-{{ sub_key }}">
                    <a href="{{ sub_item.href }}">
                      {% include 'partials/icon.twig' with {name: sub_item.icon} %}
                      <span class="e-menu__label">
                        {{ sub_item.label|trans }}
                      </span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>


    {% if ExtraData.user_id > 0 %}
      <a class="e-btn e-navbar__sign-in" href="/?action=logout" aria-label="{{ 'Sign Out'|trans }}">
        {% include 'partials/icon.twig' with {name: 'exit'} %}
        <span class="e-navbar__menu-label d-none tablet:d-inline">{{ 'Sign Out'|trans }}</span>
      </a>
    {% else %}
      <a class="e-btn e-navbar__sign-in" href="https://{$authhost}/auth?returl={$thispageurlencoded}" aria-label="{{ 'Sign In'|trans }}">
        {% include 'partials/icon.twig' with {name: 'user'} %}
        <span class="e-navbar__menu-label d-none tablet:d-inline">{{ 'Sign In'|trans }}</span>
      </a>
    {% endif %}

    {# <form class="e-navbar__search" role="search">
      <input type="search" placeholder="Поиск" />
      <button type="submit">Найти</button>
    </form> #}
  </div>
</nav>
