<div class="e-plan{{ plan.isFeatured ? ' is-featured' : '' }}">
  <header class="e-plan__header">
    <h3 class="e-plan_title">
      {{ plan.title|trans }}
      <span class="e-plan_icon">
        {% include 'partials/icon.twig' with { name: plan.icon } %}
      </span>
    </h3>
    <p class="e-plan__price">
      <sup>$</sup>
      <strong>{{ plan.price }}</strong>
      <small>/ мес.</small>
    </p>
    <p class="e-plan__subtitle">
      {{ plan.subtitle|trans }}
    </p>
    <a class="e-btn" href="{{ plan.link }}">{{ 'Choose a Plan'|trans }}</a>
  </header>
  <ul class="e-plan__features">
    {% for feature in plan.features %}
      <li>{{ feature|trans }}</li>
    {% endfor %}
  </ul>
</div>
