<figure class="e-card e-testimonial{{ testimonial.isFeatured ? ' is-featured' : '' }}">
  <img class="e-testimonial__avatar" src="{{ ExtraData.assets_prefix }}{{ testimonial.avatar }}" alt="{{ testimonial.author }}">

  <blockquote class="e-testimonial__base">
    <p>{{ testimonial.quote }}</p>
  </blockquote>

  <figcaption class="e-testimonial__author">
    <strong>{{ testimonial.author }}</strong>
    {{ testimonial.company }}
  </figcaption>
</figure>
